USE [master]
GO
/****** Object:  Database [dbVendas] ******/
CREATE DATABASE [dbVendas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbVendas', FILENAME = N'C:\Caminho_Para_Seu_Diretorio\Dados\ddbVendas.MDF' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 51200KB )
 LOG ON 
( NAME = N'dbVendasLOG', FILENAME = N'C:\Caminho_Para_Seu_Diretorio\Log\dbVendasLOG.LDF' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 51200KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbVendas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbVendas]
GO
/****** Object:  User [SeuUsuarioAdmin] ******/
CREATE USER [SeuUsuarioAdmin] FOR LOGIN [SeuUsuarioAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SeuUsuarioAdmin]
GO

/****** Object:  UserDefinedFunction [dbo].[BuscarClienteAleatorio]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[BuscarClienteAleatorio]()
RETURNS VARCHAR(11)
AS
BEGIN
    DECLARE @TotalClientes INT
    DECLARE @NumeroAleatorio INT
    
    SELECT @TotalClientes = 1000
    
    SELECT @NumeroAleatorio = [dbo].[NumeroAleatorio] (1,@TotalClientes)
    
    RETURN (
        SELECT TOP 1 CPF 
        FROM (
            SELECT CPF 
            FROM tb_cliente 
            ORDER BY CPF OFFSET @NumeroAleatorio ROWS FETCH NEXT 1 ROWS ONLY
        ) AS Subconsulta
    )
END
GO
/****** Object:  UserDefinedFunction [dbo].[BuscarLojaAleatorio]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BuscarLojaAleatorio](@CPF as VARCHAR(15))
RETURNS VARCHAR(11)
AS
BEGIN
    DECLARE @TotalClientes INT
    DECLARE @NumeroAleatorio INT
    
    SELECT @TotalClientes = 51
    
    SELECT @NumeroAleatorio = [dbo].[NumeroAleatorio] (1,@TotalClientes)
    
    RETURN (
        SELECT TOP 1 codigo_loja
        FROM (
            SELECT codigo_loja 
            FROM tb_loja
            ORDER BY codigo_loja OFFSET @NumeroAleatorio ROWS FETCH NEXT 1 ROWS ONLY
        ) AS Subconsulta
    )
END
GO
/****** Object:  UserDefinedFunction [dbo].[BuscarProdutoAleatorio]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BuscarProdutoAleatorio]()
RETURNS VARCHAR(11)
AS
BEGIN
    DECLARE @TotalProduto INT
    DECLARE @NumeroAleatorio INT
    
    SELECT @TotalProduto = COUNT(*) FROM tb_produto
    
    SELECT @NumeroAleatorio = [dbo].[NumeroAleatorio] (1,@TotalProduto)
    
    RETURN (
        SELECT TOP 1 codigo_produto 
        FROM (
            SELECT codigo_produto  
            FROM tb_produto 
            ORDER BY codigo_produto  OFFSET @NumeroAleatorio ROWS FETCH NEXT 1 ROWS ONLY
        ) AS Subconsulta
    )
END
GO
/****** Object:  UserDefinedFunction [dbo].[NumeroAleatorio]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[NumeroAleatorio](@VAL_MIN INT, @VAL_MAX INT)
RETURNS INT
AS
BEGIN
   DECLARE @ALEATORIO INT
   DECLARE @VALOR_ALEATORIO FLOAT
   SELECT @VALOR_ALEATORIO = VALOR_ALEATORIO FROM VW_ALEATORIO
   SET @ALEATORIO = ROUND(((@VAL_MAX - @VAL_MIN - 1) * @VALOR_ALEATORIO + @VAL_MIN), 0)
   RETURN @ALEATORIO
END
GO
/****** Object:  View [dbo].[VW_ALEATORIO]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ALEATORIO]
AS
SELECT        RAND() AS VALOR_ALEATORIO
GO
/****** Object:  Table [dbo].[tb_cidade]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cidade](
	[cidade] [varchar](50) NOT NULL,
	[sigla_estado] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_classificacao]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_classificacao](
	[codigo_classificacao] [varchar](3) NOT NULL,
	[classificacao] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cliente]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cliente](
	[cpf] [varchar](12) NOT NULL,
	[nome] [varchar](100) NULL,
	[sobrenome] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](100) NULL,
	[cidade] [varchar](50) NOT NULL,
	[numero] [varchar](10) NULL,
	[rua] [varchar](100) NULL,
	[complemento] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_controle_backups]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_controle_backups](
	[ID] [int] NULL,
	[NOME] [varchar](100) NULL,
	[NUMERO_NOTAS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_estado]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_estado](
	[sigla_estado] [varchar](2) NOT NULL,
	[nome_estado] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_item]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_item](
	[numero] [varchar](12) NOT NULL,
	[codigo_produto] [varchar](12) NOT NULL,
	[quantidade] [int] NULL,
	[preco] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_loja]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_loja](
	[codigo_loja] [varchar](10) NOT NULL,
	[nome_loja] [varchar](100) NULL,
	[cidade] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_nota]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_nota](
	[cpf] [varchar](12) NOT NULL,
	[codigo_loja] [varchar](10) NOT NULL,
	[data] [date] NULL,
	[numero] [varchar](12) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_produto]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_produto](
	[codigo_produto] [varchar](12) NOT NULL,
	[produto] [varchar](100) NULL,
	[codigo_classificacao] [varchar](3) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[cargaBase]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cargaBase] (@ANO INT, @MES INT, @ANO_PROX INT, @MES_PROX INT)
AS
BEGIN
DECLARE cur_datas CURSOR FOR
SELECT DATEADD(DAY, number, DATEFROMPARTS(@ANO, @MES, 1)) AS Dia
FROM master..spt_values
WHERE type = 'P'
  AND DATEADD(DAY, number, DATEFROMPARTS(@ANO, @MES, 1)) < DATEFROMPARTS(@ANO_PROX, @MES_PROX, 1)

OPEN cur_datas

DECLARE @data DATE

FETCH NEXT FROM cur_datas INTO @data

WHILE @@FETCH_STATUS = 0
BEGIN
    exec [dbo].[IncluiNotasDia] @data
    
    FETCH NEXT FROM cur_datas INTO @data
END

CLOSE cur_datas
DEALLOCATE cur_datas

END
GO
/****** Object:  StoredProcedure [dbo].[cargaBase2]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cargaBase2] (@ANO INT, @MES INT, @DIA INT, @ANO_PROX INT, @MES_PROX INT, @DIA_PROX INT)
AS
BEGIN
DECLARE cur_datas CURSOR FOR
SELECT DATEADD(DAY, number, DATEFROMPARTS(@ANO, @MES, @DIA)) AS Dia
FROM master..spt_values
WHERE type = 'P'
  AND DATEADD(DAY, number, DATEFROMPARTS(@ANO, @MES, @DIA)) < DATEFROMPARTS(@ANO_PROX, @MES_PROX, @DIA_PROX)

OPEN cur_datas

DECLARE @data DATE

FETCH NEXT FROM cur_datas INTO @data

WHILE @@FETCH_STATUS = 0
BEGIN
    exec [dbo].[IncluiNotasDia] @data
    
    FETCH NEXT FROM cur_datas INTO @data
END

CLOSE cur_datas
DEALLOCATE cur_datas

END
GO
/****** Object:  StoredProcedure [dbo].[cargaBase3]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cargaBase3] (@ANO INT, @MES INT, @ANO_PROX INT, @MES_PROX INT, @MAX INT)
AS
BEGIN
DECLARE @CONTADOR INT
SET @CONTADOR = 1
WHILE @CONTADOR <= @MAX
BEGIN
   exec [dbo].[cargaBase2] @ANO, @MES, 6, @ANO_PROX, @MES, 11;
   exec [dbo].[cargaBase2] @ANO, @MES, 11, @ANO_PROX, @MES, 16;
   exec [dbo].[cargaBase2] @ANO, @MES, 16, @ANO_PROX, @MES, 21;
   exec [dbo].[cargaBase2] @ANO, @MES, 21, @ANO_PROX, @MES, 27;
   exec [dbo].[cargaBase2] @ANO, @MES, 27, @ANO_PROX, @MES_PROX, 1;
END
END
GO
/****** Object:  StoredProcedure [dbo].[gerar_cliente_aleatorio]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gerar_cliente_aleatorio] (@numeroCLI int)
AS
BEGIN

    DECLARE @contador INT;
    DECLARE @nomes varchar(max);
    DECLARE @sobrenomes varchar(max);
    DECLARE @emails varchar(max);
    DECLARE @cidades varchar(max);
    DECLARE @estados varchar(max);
    DECLARE @numero varchar(100);
    DECLARE @rua varchar(100);
    DECLARE @complemento varchar(100);
	DECLARE @cpf varchar(100);
	DECLARE @nome varchar(100), @sobrenome varchar(100), @email varchar(100), @telefone varchar(100), @cidade varchar(100)
    SET @nomes = 'Ana, Bruno, Carla, Diego, Eduardo, Fernanda, Gabriel, Heloísa, Isadora, João, Karina, Leonardo, Marcela, Natalia, Otávio, Paula, Rafael, Sara, Thiago, Vanessa, William, Alice, Bernardo, Camila, Danilo, Emanuela, Fabiana, Gustavo, Heitor, Isabela, Julia, Lucas, Mariana, Nathalia, Ôscar, Priscila, Rodrigo, Sofia, Taynara, Victor, Yasmim, Zélia, Ágatha, Bárbara, Caio, Dandara, Érica, Felipe, Giovana, Henrique, Ismael, Juliana, Luan, Manuela, Natália, Óscar, Pietra, Rafaela, Sabrina, Thaís, Valentina, Wálter, Xavier, Yasmin, Zara, Aline, Beatriz, Carlos, David, Eliane, Fabrício, Gisele, Higor, Ingrid, Joaquim, Kátia, Lívia, Márcio, Noemi, Otília, Paola, Rafaela, Samuel, Tábata, Uirá, Vanessa, Wellington, Xavier, Yuri, Zélia, Augusto, Bruna, Cesar, Daniel, Elisa, Fernão, Gabriel, Henrique, Isadora,Alessandra, Allan, Alisson, Amanda, Amélia, Anderson, André, Andrea, Aníbal, Antônio, Ariane, Augusto, Beatriz, Bruna, Bruno, Camila, Carlos, Carolina, Cássia, Catarina, Cecília, Célia, César, Christian, Clara, Claudia, Cláudio, Conceição, Cristina, Daniel, Danilo, Débora, Diego, Diogo, Edilene, Edna, Eduardo, Elaine, Elisa, Eliseu, Elizabete, Emerson, Érica, Ester, Eunice, Everaldo, Fabiana, Fabiano, Fabrício, Felipe, Fernanda, Flávia, Flávio, Franciele, Francisco, Gabriela, Genival, Geovana, Geraldo, Gerson, Gilberto, Giovanna, Gisele, Glauber, Guilherme, Gustavo, Helena, Henrique, Ingrid, Isabela, Ismael, Ismaelita, Ivan, Janaína, Jéssica, Joana, João, Jorge, José, Josiane, Júlia, Juliana, Júlio, Karen, Karina, Katia, Kelly, Kellen, Laís, Laisa, Lara, Larissa, Laura, Lays, Leandro, Leticia, Lídia, Lilian, Livia, Lorena, Lourdes, Luciana, Luis, Luiz, Luiza, Luma, Maicon, Marcela, Marcelo, Márcia, Marco, Marcos, Maria, Mariana, Marina, Marisa, Marta, Matheus, Maurício, Melissa, Milena, Miriam, Natália, Nelson, Nilson, Olga, Pamela, Patrícia, Paula, Paulo, Pedro, Priscila, Rafael, Raimunda, Raquel, Rebeca, Regina, Renata, Ricardo, Roberto, Rodrigo, Rosana, Sabrina, Samuel, Sandra, Sara, Sílvia, Silvio, Solange, Sonia, Stefany, Stella, Tainá, Tatiana, Thaís, Thiago, Valéria, Vanessa, Verônica, Vítor, Vivian, Wilson';
    SET @sobrenomes = 'Silva, Santos, Souza, Costa, Oliveira, Pereira, Carvalho, Rodrigues, Almeida, Lima, Gomes, Castro, Nascimento, Ribeiro, Fernandes';
    SET @emails = 'gmail.com, hotmail.com, yahoo.com, uol.com.br, outlook.com';
    SET @cidades = 'São Paulo, Rio de Janeiro, Belo Horizonte, Salvador, Brasília, Fortaleza, Recife, Curitiba, Manaus, Porto Alegre,Natal, Goiânia, Cuiabá, Vitória, São Luís, João Pessoa, Aracaju, Blumenau, Bauru, Palmas,Palmas, Boa Vista, Macapá, Santarém, Caruaru, Juazeiro do Norte, Sobral, Teresópolis, Teófilo Otoni, Teixeira de Freitas, São Mateus, Sete Lagoas, Lavras, Ipatinga, Pouso Alegre, Guaratinguetá, Lorena, Ribeirão Pires, Cubatão, Itanhaém,Maringá, Cascavel, Passo Fundo, Lages, São José dos Campos, Marília, Franca, São Carlos, Barretos, Caraguatatuba, Assis, Ourinhos, Botucatu, Registro, Itapecerica da Serra, Jacareí, São Roque, Cotia, Itatiba, Bragança Paulista,Feira de Santana, Vitória da Conquista, Imperatriz, Parnaíba, Picos, Araguaína, Pindamonhangaba, Botucatu, Penápolis, Salto, Lençóis Paulista, Guarapari, Teófilo Otoni, Santa Cruz do Sul, Cachoeira do Sul, Santa Maria, Palmeira das Missões, Lages, Arapongas, Tatuí, Leme, Barra Bonita, Andradina, Valença, São João da Boa Vista, Itapetininga, São Lourenço, Itajubá, Camaquã, Viamão,Aparecida de Goiânia, Divinópolis, Formiga, Arapiraca, Rio Largo, Eunápolis, Irecê, Guanambi, Campo Maior, Crateús, Codó, Bacabal, Santa Luzia, Sete Lagoas, Muriaé, Três Corações, Ijuí, Frederico Westphalen, Chapecó, Tijucas, Criciúma, Araranguá, Gaspar, Pouso Alegre, Passos, Barbacena, Caratinga, Barra Mansa, Três Rios, Nilópolis';
    
	
SET @CONTADOR = 1
WHILE @CONTADOR <= @numeroCLI
BEGIN

SELECT TOP 1 @nome = value
FROM (
    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rownum
    FROM STRING_SPLIT(@nomes, ',')
) AS names
WHERE rownum = CEILING(RAND() * (SELECT COUNT(*) FROM STRING_SPLIT(@nomes, ',')))
	
	SELECT TOP 1 @sobrenome = value
FROM (
    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rownum
    FROM STRING_SPLIT(@sobrenomes, ',')
) AS sobrenames
WHERE rownum = CEILING(RAND() * (SELECT COUNT(*) FROM STRING_SPLIT(@sobrenomes, ',')))

SELECT TOP 1 @email = value
FROM (
    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rownum
    FROM STRING_SPLIT(@emails, ',')
) AS emails
WHERE rownum = CEILING(RAND() * (SELECT COUNT(*) FROM STRING_SPLIT(@emails, ',')))

SELECT TOP 1 @cidade = value
FROM (
    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rownum
    FROM STRING_SPLIT(@cidades, ',')
) AS cidades
WHERE rownum = CEILING(RAND() * (SELECT COUNT(*) FROM STRING_SPLIT(@cidades, ',')))
	
SET @telefone = CAST(RAND(ABS(CHECKSUM(NEWID()))) * 100000000 AS BIGINT);

SET @numero = FLOOR(RAND() * 10000) + 1;
SET @rua = CONCAT('Rua ', FLOOR(RAND() * 1000) + 1);
SET @complemento = CONCAT('Apto. ', FLOOR(RAND() * 100) + 1);
SET @cpf = CONCAT(
    CONVERT(NVARCHAR(3), ABS(CHECKSUM(NEWID())) % 900 + 100),
    CONVERT(NVARCHAR(3), ABS(CHECKSUM(NEWID())) % 1000),
    CONVERT(NVARCHAR(3), ABS(CHECKSUM(NEWID())) % 1000),
    CONVERT(NVARCHAR(2), ABS(CHECKSUM(NEWID())) % 100)
);


    INSERT INTO tb_cliente 
	(cpf, nome, sobrenome, email, telefone, cidade, numero, rua, complemento) VALUES (
	@cpf, @nome, @sobrenome, @email, @telefone, @cidade, @numero, @rua, @complemento);
	SET @CONTADOR = @CONTADOR + 1;
END;
END;
GO
/****** Object:  StoredProcedure [dbo].[IncluiNotaFiscal]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncluiNotaFiscal] (@DATA DATE)
AS
BEGIN
DECLARE @CLIENTE VARCHAR(20)
DECLARE @LOJA VARCHAR(20)
DECLARE @PRODUTO VARCHAR(20)
DECLARE @NUMERO INT
DECLARE @NUM_ITENS INT
DECLARE @CONTADOR INT
DECLARE @QUANTIDADE INT
DECLARE @PRECO FLOAT
DECLARE @LISTAPRODUTOS TABLE (PRODUTO VARCHAR(20))
DECLARE @CONTADOR_PRODUTO INT
BEGIN TRY
   SET @CLIENTE = [dbo].[BuscarClienteAleatorio]()
END TRY
BEGIN CATCH
   SET @CLIENTE = '6203236194'
END CATCH
BEGIN TRY
 SET @LOJA = [dbo].[BuscarLojaAleatorio](@CLIENTE)
END TRY
BEGIN CATCH
  SET @LOJA = '1'
END CATCH
SELECT @NUMERO = COUNT(*) + 1 FROM tb_nota
SET @NUM_ITENS = [dbo].[NumeroAleatorio](20,50)
SET @CONTADOR = 1
SET NOCOUNT ON
INSERT INTO [dbo].[tb_nota] (cpf, codigo_loja, data, numero)
VALUES (@CLIENTE, @LOJA, @DATA, @NUMERO)
WHILE @CONTADOR <= @NUM_ITENS
BEGIN
    BEGIN TRY
	    SET @PRODUTO = [dbo].[BuscarProdutoAleatorio]()
	END TRY
	BEGIN CATCH
	   SET @PRODUTO = '1'
	END CATCH
	SELECT @CONTADOR_PRODUTO = COUNT(*) FROM @LISTAPRODUTOS WHERE PRODUTO = @PRODUTO
	IF @CONTADOR_PRODUTO = 0
	BEGIN
	   SET @QUANTIDADE = [dbo].[NumeroAleatorio](5,10)
	   SELECT @PRECO = [dbo].[NumeroAleatorio](1,5)
	   INSERT INTO [tb_item] (numero, [codigo_produto], quantidade, [preco])
	   VALUES (@NUMERO, @PRODUTO, @QUANTIDADE, @PRECO)
	   SET @CONTADOR = @CONTADOR + 1
	END
	INSERT INTO @LISTAPRODUTOS (PRODUTO) VALUES (@PRODUTO)
END

END
GO
/****** Object:  StoredProcedure [dbo].[IncluiNotasDia]    Script Date: 28/02/2026 00:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncluiNotasDia] (@DATA DATE)
AS
BEGIN
DECLARE @NUM_NOTAS INT
DECLARE @CONTADOR INT
SET @NUM_NOTAS = [dbo].[NumeroAleatorio](50,150)
SET @CONTADOR = 1
WHILE @CONTADOR <= @NUM_NOTAS
BEGIN
    EXEC [dbo].[IncluiNotaFiscal] @DATA
    SET @CONTADOR = @CONTADOR + 1
END

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ALEATORIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ALEATORIO'
GO
USE [master]
GO
